---
import Layout from '../../layouts/Layout.astro';

---

<Layout title="MCI Madrid">
	<main>
		<header class="bg-black text-white py-2 md:py-4">
				<div class="container mx-auto flex justify-between items-center">
					<div>
						<img class="h-8 md:h-10 ml-3" src="/img/MCI_logo_blanco.jpg" alt="Logo">
						<!-- <a href="#" class="text-white text-xl font-bold">Mi Sitio Web</a> -->
					</div>
					<!-- Botón del menú hamburguesa -->
					<div class="lg:hidden mr-3">
						<button id="toggleMenu" class="text-white focus:outline-none focus:text-white">
							<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 20 20" fill="currentColor">
								<path fill-rule="evenodd" d="M3 4.5a.5.5 0 1 1 0-1h14a.5.5 0 1 1 0 1H3zm0 5a.5.5 0 1 1 0-1h14a.5.5 0 1 1 0 1H3zm0 5a.5.5 0 1 1 0-1h14a.5.5 0 1 1 0 1H3z" />
							</svg>
						</button>
					</div>
					<!-- Menú de navegación -->
					<nav class="hidden lg:block mx-4">
						<ul class="flex space-x-4">
							<li><a href="/" class="text-white">Inicio</a></li>
							<li><a href="../Somos_uno/Somos_uno" class="text-white">Somos Uno</a></li>
							<li><a href="../Mensaje/Mensaje" class="text-white">Mensaje</a></li>
							<li><a href="../Oracion/Oracion" class="text-white">Oracion</a></li>
							<li><a href="../Celula/Celula" class="text-white">Celula</a></li>
							<li><a href="../Contacto/Contacto" class="text-white">Contacto</a></li>
							<li><a href="https://sebas.4trastos.com/index.php" class="text-white">Tienda</a></li>
						</ul>
					</nav>
				</div>
		</header>
		<!-- Menú de navegación para pantallas pequeñas -->
		<nav id="mobileMenu" class="lg:hidden bg-gray-800 p-4" style="display: none;">
			<ul class="space-y-4">
				<li><a href="/" class="block text-white">Inicio</a></li>
				<li><a href="../Somos_uno/Somos_uno" class="text-white">#Somos Uno</a></li>
				<li><a href="../Mensaje/Mensaje" class="block text-white">Mensaje</a></li>
				<li><a href="../Oracion/Oracion" class="text-white">Oracion</a></li>
				<li><a href="../Celula/Celula" class="text-white">Celula</a></li>
				<li><a href="../Contacto/Contacto" class="block text-white">Contacto</a></li>
				<li><a href="https://sebas.4trastos.com/index.php" class="text-white">Tienda</a></li>
			</ul>
		</nav>
		<body>
            <div class="fondo bg-cover bg-center flex flex-col items-center justify-center text-white transition duration-1000">
                <div class="Bienvenida">
                    <h1>¿Aun no tienes <br>
						Celula?</h1>
                </div>
				<div class=" p-5 md:p-0">
					<!-- <div class="w-full md:w-auto mb-3">
						<iframe src="https://www.youtube.com/embed/0Fxn21WFMs0" allowfullscreen style="margin-left: auto; margin-right: auto; display: block;"></iframe>
					</div> -->
					<div class="text-center text-white">
						<div class="mb-4">
							<label for="text" class=" w-2/6 font-semibold">Nombre:</label>
							<input type="text" name="nombre" class="text-black py-2 px-4 w-4/6 md:w-auto" placeholder="Nombre">
						</div>
						<div class="mb-4">
							<label for="text" class=" w-2/6 font-semibold">Apellido:</label>
							<input type="text" name="apellidos" class="text-black py-2 px-4 w-4/6 md:w-auto" placeholder="Apellido">
						</div>
						<div class="mb-4">
							<label for="number" class=" w-2/6 font-semibold">Teléfono:</label>
							<input type="text" name="telefono" class="text-black py-2 px-4 w-4/6 md:w-auto" placeholder="Teléfono">
						</div>
						<div>
							<label for="exampleFormControlTextarea1" class="mb-4 block font-semibold">Petición de Oración</label>
							<textarea name="mensaje" class="text-black py-2 px-4 md:w-full" id="exampleFormControlTextarea1" rows="5" placeholder="Mensaje"></textarea>
						</div>
						<button type="submit" class="bg-yellow-500  text-white font-bold py-2 px-4 ">Enviar</button>
					</div>
				</div>
            </div>

			
			<div class="mb-5 flex items-center justify-center m-5">
				<div id="custom-slider" class=" ">
                	<input type="radio" name="slider" id="item-1" checked>
                	<input type="radio" name="slider" id="item-2">
                	<input type="radio" name="slider" id="item-3">
					<div class="container slider-cards">
						<label class="w-2/4 lg:w-2/6 slider-card" for="item-1" id="img-1">
							<div class=" p-4 bg-gray-200 rounded-lg shadow-md">
								<p class="text-base font-semibold mb-2">¿Qué es una célula?</p>
								<p class="text-sm">Una célula es un grupo de personas que se reúnen regularmente para estudiar la Biblia, orar, compartir experiencias y apoyarse mutuamente en su caminar espiritual.</p>
							</div>
						</label>
						<label class="w-2/4 lg:w-2/6 slider-card" for="item-2" id="img-2">
							<div class="p-4 bg-gray-200 rounded-lg shadow-md">
								<p class="text-base font-semibold mb-2">¿Cuál es el objetivo de la célula?</p>
								<p class="text-sm">El objetivo principal de una célula es crecer espiritualmente, fortalecer las relaciones entre los miembros y alcanzar a otras personas con el mensaje del evangelio.</p>
							</div>
						</label>
						<label class="w-2/4 lg:w-2/6 slider-card" for="item-3" id="img-3">
							<div class="p-4 bg-gray-200 rounded-lg shadow-md">
								<p class="text-xl font-semibold mb-2">¿Qué hacen en una célula?</p>
								<p class="text-sm">En una célula, las personas pueden participar en actividades como estudiar la Biblia, compartir testimonios, orar unos por otros, y planificar proyectos de servicio comunitario.</p>
							</div>
						</label>
						
					</div>
            	</div>
			</div>
			
		</body>
	</main>
</Layout>

<style>
	main {
		width: 100%;
		font-size: 20px;
	}

	
	.fondo {
        background-size: cover;
        background-attachment: fixed;
        position: relative;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;
        transition: background-image 1s ease-in-out;
        background-position: center; /* Centra la imagen horizontalmente */
    }

	.fade-in {
 		 opacity: 0;
  		transition: opacity 1s ease-in-out;
	}
	.fade-in.visible {
  		opacity: 1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}




	/* informacion celula */

	#custom-slider .slider-card {
		position: absolute;
		left: 0;
		right: 0;
		margin: auto;
		transition: transform .4s ease;
	}

	#custom-slider input[type=radio] {
		display: none;
	}

	#custom-slider #item-1:checked ~ .slider-cards #img-3,
	#custom-slider #item-2:checked ~ .slider-cards #img-1,
	#custom-slider #item-3:checked ~ .slider-cards #img-2 {
		transform: translateX(-40%) scale(0.8);
		opacity: 0.4;
		z-index: 0;
	}

	#custom-slider #item-1:checked ~ .slider-cards #img-2,
	#custom-slider #item-2:checked ~ .slider-cards #img-3,
	#custom-slider #item-3:checked ~ .slider-cards #img-1 {
		transform: translateX(40%) scale(0.8);
		opacity: 0.4;
		z-index: 0;
	}

	#custom-slider #item-1:checked ~ .slider-cards #img-1,
	#custom-slider #item-2:checked ~ .slider-cards #img-2,
	#custom-slider #item-3:checked ~ .slider-cards #img-3 {
		transform: translateX(0) scale(1);
		opacity: 1;
		z-index: 1;
	}


</style>

<script>
	// Menu hamburguesa
	document.getElementById('toggleMenu').addEventListener('click', function () {
		document.getElementById('mobileMenu').style.display = document.getElementById('mobileMenu').style.display === 'block' ? 'none' : 'block';
	});
	document.addEventListener("DOMContentLoaded", function () {
    const imagenesFondo = [
        '../../img/MCI.jpeg',
        '../../img/MCI_Fondo.jpeg',
        // Agrega más rutas según sea necesario
    ];

    let indexImagen = 0;
	const fondoElement = document.querySelector('.fondo') as HTMLElement; //tipo typeScrip

    function cambiarFondo() {
        fondoElement.style.backgroundImage = `url('${imagenesFondo[indexImagen]}')`;

        indexImagen = (indexImagen + 1) % imagenesFondo.length;
    }

    cambiarFondo(); // Cambia el fondo inicialmente

    setInterval(cambiarFondo, 5000); // Cambia el fondo cada 5 segundos
	});

	window.addEventListener('scroll', function() {
	var fadeElements = document.querySelectorAll('.fade-in');
	fadeElements.forEach(function(element) {
		var elementPosition = element.getBoundingClientRect().top;
		var screenPosition = window.innerHeight / 1.5;

		if (elementPosition < screenPosition && elementPosition > -element.clientHeight) {
		element.classList.add('visible');
		} else {
		element.classList.remove('visible');
		}
	});
	});



</script>
