---
	import Layout from '../layouts/Layout.astro';

---

<Layout title="MCI Madrid">
	<main>
		<header class="bg-black text-white py-2 md:py-4">
				<div class="container mx-auto flex justify-between items-center">
					<div class="ml-6">
						<!-- <img class="h-10 ml-3 lg:h-24 lg:ml-6" src="/img/MCI_logo_blanco.jpg" alt="Logo"> -->
						<img class="h-8 md:h-10 ml-3 " src="/img/MCI_logo_blanco.jpg" alt="Logo">

					</div>
					<!-- Botón del menú hamburguesa -->
					<div class="lg:hidden mr-3">
						<button id="toggleMenu" class="text-white focus:outline-none focus:text-white">
							<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 20 20" fill="currentColor">
								<path fill-rule="evenodd" d="M3 4.5a.5.5 0 1 1 0-1h14a.5.5 0 1 1 0 1H3zm0 5a.5.5 0 1 1 0-1h14a.5.5 0 1 1 0 1H3zm0 5a.5.5 0 1 1 0-1h14a.5.5 0 1 1 0 1H3z" />
							</svg>
						</button>
					</div>
					<!-- Menú de navegación -->
					<nav class="hidden lg:block mx-4">
						<ul class="flex space-x-4">
							<li><a href="/" class="text-white">Inicio</a></li>
							<li><a href="./Somos_uno/Somos_uno" class="text-white">#Somos Uno</a></li>
							<li><a href="./Mensaje/Mensaje" class="text-white">Mensaje</a></li>
							<li><a href="./Oracion/Oracion" class="text-white">Oracion</a></li>
							<li><a href="./Celula/Celula" class="text-white">Celula</a></li>
							<li><a href="./Contacto/Contacto" class="text-white">Contacto</a></li>
							<li><a href="https://sebas.4trastos.com/index.php" class="text-white">Tienda</a></li>
						</ul>
					</nav>
				</div>
		</header>
		<!-- Menú de navegación para pantallas pequeñas -->
		<nav id="mobileMenu" class="lg:hidden bg-gray-800 p-4" style="display: none;">
			<ul class="space-y-4">
				<li><a href="/" class="block text-white">Inicio</a></li>
				<li><a href="./Somos_uno/Somos_uno" class="text-white">#Somos Uno</a></li>
				<li><a href="./Mensaje/Mensaje" class="block text-white">Mensaje</a></li>
				<li><a href="./Oracion/Oracion" class="text-white">Oracion</a></li>
				<li><a href="./Celula/Celula" class="text-white">Celula</a></li>
				<li><a href="./Contacto/Contacto" class="block text-white">Contacto</a></li>
				<li><a href="https://sebas.4trastos.com/index.php" class="text-white">Tienda</a></li>
			</ul>
		</nav>
		<body>
				<div class="p-0 italic text-5xl md:text-6xl fondo text-white transition duration-1000">
						BIENVENIDO A
						<h1 class="MCI_colors font-bold ">MCI</h1>
						<!-- <p class="MCI_colors font-bold ">MCI</p> -->
						<!-- <h1 style=" color: transparent; -webkit-text-stroke-width: 5px; -webkit-text-stroke-color: blue;">MCI</h1> -->
				</div>

				<div class="grid m-8 lg:m-0 fade-in">
					<div class="col-span-12 lg:m-8  flex justify-center mb-5 font-bold text-gray-50">
						¿Quienes Somos?
					</div>
					<div class="col-span-12 md:col-span-6 flex items-center ">
						<img src="/img/MCI_logo_blanco.jpg" alt="Imagen mediana" />
					</div>
					<div class="p-5 col-span-12 md:col-span-6  flex items-center text-center text-gray-50 ">
						<p>Texto o párrafo pequeño al lado de la imagen Texto o párrafo pequeño al lado de la imagenTexto o párrafo pequeño al lado de la imagen</p>
					</div>
					<div class="col-span-12 md:col-span-6 md:hidden flex items-center">
						<img src="/img/MCI_logo_blanco.jpg" alt="Imagen mediana" />
					</div>
					<div class=" p-5 col-span-12 md:col-span-6 flex items-center text-center text-gray-50">
						<p>Texto o párrafo pequeño al lado de la imagen Texto o párrafo pequeño al lado de la imagenTexto o párrafo pequeño al lado de la imagen</p>
					</div>
					<div class="hidden col-span-12 md:col-span-6 md:block 2xl:w-full flex items-center ">
						<img src="/img/MCI_logo_blanco.jpg" alt="Imagen mediana" />
					</div>
				</div>
				
				<div class="fondo1">
					<div class="m-10 max-w-lg"> 
							<h1 class="fade-in">Siguiente Reunión:</h1>
						<div id="reloj" class="justify-center mt-4 fade-in">
							<div class="flex">
								<div id="dias" class="w-3/5 text-3xl font-bold">00</div>
								<div class="w-2/5">Días</div>
							</div>
						</div>
						<div id="reloj" class="justify-center mt-4 fade-in">
							<div class="flex">
							<div id="horas" class="w-3/5 text-3xl font-bold">00</div>
							<div class="w-2/5">Horas</div>
							</div>
						</div>
						<div id="reloj" class="justify-center mt-4 fade-in">

							<div class="flex ">
							<div id="minutos" class="w-3/5 text-3xl font-bold">00</div>
							<div class=" w-2/5">Minutos</div>
							</div>
						</div>
						<div id="reloj" class="justify-center mt-4 fade-in">

							<div class="flex ">
							<div id="segundos" class="w-3/5 text-3xl font-bold ">00</div>
							<div class="w-2/5">Segundos</div>
							</div>
						</div>
					</div>
				</div>
				<div class="grid m-4 fade-in">
					<div class=" flex justify-center mb-5 font-bold text-gray-50">
						¿Primera vez?
					</div>
				</div>
				<div class="bg-black py-5">
					<div class="w-full md:w-auto mb-3 fade-in">
						<iframe src="https://www.youtube.com/embed/0Fxn21WFMs0" allowfullscreen style="margin-left: auto; margin-right: auto; display: block;"></iframe>
					</div>
				<div class="text-center">
					<div class="lg:flex lg:justify-center">
						<div class="mb-4 fade-in lg:w-1/2">
							<label for="nombre" class="font-semibold text-white">Nombre:</label>
							<input type="text" name="nombre" class=" py-2 px-4 w-1/2" placeholder="Nombre">
						</div>
					</div>
					<div class="lg:flex lg:justify-center">
						<div class="mb-4 fade-in lg:w-1/2">
							<label for="apellidos" class="font-semibold text-white">Apellido:</label>
							<input type="text" name="apellidos" class="py-2 px-4 w-1/2" placeholder="Apellido">
						</div>
					</div>
					<div class="lg:flex lg:justify-center">
						<div class="mb-4 fade-in lg:w-1/2">
							<label for="telefono" class="font-semibold text-white">Teléfono</label>
							<input type="text" name="telefono" class="py-2 px-4 w-1/2" placeholder="Teléfono">
						</div>
					</div>
					<!-- <div class="lg:flex lg:justify-center"> -->
						<div class="fade-in">
							<label for="exampleFormControlTextarea1" class="mb-4 block font-semibold text-white">Petición de Oración</label>
							<textarea name="mensaje" class="py-2 px-4 w-auto lg:w-1/4" id="exampleFormControlTextarea1" rows="5" placeholder="Mensaje"></textarea>
						</div>
					<!-- </div> -->
					<button type="submit" class="bg-yellow-500  text-white font-bold py-2 px-4 fade-in ">Enviar</button>
					</div>
				</div>


					<div class="grid m-4">
						<div class="col-span-12 flex justify-center mb-5 font-bold text-gray-50 fade-in">
							Formación
						</div>
					</div>


				<div class="flex items-center justify-center fade-in">
					<div class="carousel-card transform  hover:-translate-y-10  container m-2 w-1/3 h-64 duration-500 transform hover:-translate-y-10 ">
						<img class="rounded-lg  w-full h-full object-cover transition-shadow duration-500 transform hover:-translate-y-10" src="img/Capacitacion_Destino1.jpg" alt="Descripción de la imagen">
						<div class="rounded-lg purple-border absolute inset-0 flex items-end justify-center bg-gradient-to-t from-purple-900 border-purple-500 to-transparent text-white text-center p-4">
							<div>
								<h2 class="text-xl font-bold mb-2">Universidad de la vida</h2>
								<span class="text-sm">Compralo ya</span>
							</div>
						</div>
					</div>
					<div class="carousel-card transform  hover:-translate-y-10  container m-2 w-1/3 h-64 duration-500 transform hover:-translate-y-10  ">
						<img class="rounded-lg w-full h-full object-cover transition-shadow duration-500 transform hover:-translate-y-10" src="img/Capacitacion_Destino1.jpg" alt="Descripción de la imagen">
						<div class="rounded-lg purple-border absolute inset-0 flex items-end justify-center bg-gradient-to-t from-purple-900 border-purple-500 to-transparent text-white text-center p-4">
							<div>
								<h2 class="text-xl font-bold mb-2">Universidad de la vida</h2>
								<span class="text-sm">Compralo ya</span>
							</div>
						</div>
					</div>
					<div class="carousel-card transform  hover:-translate-y-10  container m-2 w-1/3 h-64 duration-500 transform hover:-translate-y-10 ">
						<img class="rounded-lg  w-full h-full object-cover transition-shadow duration-500 transform hover:-translate-y-10" src="img/Capacitacion_Destino1.jpg" alt="Descripción de la imagen">
						<div class="rounded-lg purple-border absolute inset-0 flex items-end justify-center bg-gradient-to-t from-purple-900 border-purple-500 to-transparent text-white text-center p-4">
							<div>
								<h2 class="text-xl font-bold mb-2">Universidad de la vida</h2>
								<span class="text-sm">Compralo ya</span>
							</div>
						</div>
					</div>
						
				</div>
				



				<div class="fondo2 flex flex-col items-center justify-center h-screen">
				</div>
		</body>
	</main>
</Layout>

<style>
	main {
		/* margin: auto; */
		/* padding: 1rem; */
		width: 100%;
		/* max-width: calc(100% - 2rem); */
		/* color: rgb(0, 0, 0); */
		font-size: 20px;
		line-height: 1.6;
	}
	.fade-in {
 		opacity: 0;
  		transition: opacity 1s ease-in-out;
	}

	.fade-in.visible {
  		opacity: 1;
	}

	
	
	.fondo {
        background-size: cover;
        background-attachment: fixed;
        position: relative;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;
        transition: background-image 1s ease-in-out;
        background-position: center; /* Centra la imagen horizontalmente */
    }

	.text_eco {
		color: white;
	}


	.fondo1 {
        background-size: cover;
        background-attachment: fixed;
        position: relative;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;
        transition: background-image 1s ease-in-out;
        background-position: center; /* Centra la imagen horizontalmente */
    }
	.fondo2 {
        background-size: cover;
        background-attachment: fixed;
        position: relative;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;
        transition: background-image 1s ease-in-out;
        background-position: center; /* Centra la imagen horizontalmente */
    }

	/* Reloj */
	#reloj {
    display: flex;
    font-family: 'Arial', sans-serif;
    color: #333;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 10px;
 	text-align: center;
	}
	/* .numero {
    font-size: 2em;
	} */
	/*  */

	.hovered img {
    filter: blur(5px); /* Adjust the blur intensity as needed */
	}




	.MCI_colors{
    color: #0173EA;
	}
	/* Zoom IMG */
	.course-image {
    width: 100px; /* Tamaño inicial de las imágenes */
    height: auto;
    margin: 10px; /* Espacio entre las imágenes */
    transition: transform 0.3s; /* Transición suave para el efecto de cambio de tamaño */
	}

	/* Estilo cuando el mouse está sobre la imagen */
	.course-image:hover {
    	transform: scale(1.2); /* Aumenta el tamaño de la imagen */
    	cursor: pointer; /* Cambia el cursor a una mano */
	}

	/* Estilo cuando la imagen está seleccionada */
	.course-image.selected {
    	opacity: 0.5; /* Opacidad reducida para indicar que está seleccionada */	
	}
	/* zoom IMG */
	
	/* .astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	} */
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}


	/* carrusel html */
	/* .carousel-card {
		transition: transform 0.3s; 
	} */

	.carousel-card:hover {
		transform: translateY(-30px); /* Change position on Y-axis when hovered */
	}

	.carousel-card:hover .purple-border  {
		box-shadow: 1px 3px 100px #7645d8;
	}





</style>

<script>
	// Java Movil
	// Menu hamburguesa
	document.getElementById('toggleMenu').addEventListener('click', function () {
		document.getElementById('mobileMenu').style.display = document.getElementById('mobileMenu').style.display === 'block' ? 'none' : 'block';
	});


	document.addEventListener("DOMContentLoaded", function () {
    const imagenesFondo = [
        './img/MCI.jpeg',
        './img/MCI_Fondo.jpeg',
        // Agrega más rutas según sea necesario
    ];

    let indexImagen = 0;
	const fondoElement = document.querySelector('.fondo') as HTMLElement; //tipo typeScrip

    function cambiarFondo() {
        fondoElement.style.backgroundImage = `url('${imagenesFondo[indexImagen]}')`;

        indexImagen = (indexImagen + 1) % imagenesFondo.length;
    }

    cambiarFondo(); // Cambia el fondo inicialmente

    setInterval(cambiarFondo, 5000); // Cambia el fondo cada 5 segundos
	});

	document.addEventListener("DOMContentLoaded", function () {
    const imagenesFondo1 = [
        '/img/MCI.jpeg',
        '/img/MCI_Fondo.jpeg',
        // Agrega más rutas según sea necesario
    ];

    let indexImagen = 0;
	const fondo1Element = document.querySelector('.fondo1') as HTMLElement; //tipo typeScrip

    function cambiarFondo1() {
        fondo1Element.style.backgroundImage = `url('${imagenesFondo1[indexImagen]}')`;

        indexImagen = (indexImagen + 1) % imagenesFondo1.length;
    }

    cambiarFondo1(); // Cambia el fondo inicialmente

    setInterval(cambiarFondo1, 5000); // Cambia el fondo cada 5 segundos
	});

	document.addEventListener("DOMContentLoaded", function () {
    const imagenesFondo2 = [
        '/img/MCI.jpeg',
        '/img/MCI_Fondo.jpeg',
        // Agrega más rutas según sea necesario
    ];

    let indexImagen = 0;
	const fondo2Element = document.querySelector('.fondo2') as HTMLElement; //tipo typeScrip

    function cambiarFondo2() {
        fondo2Element.style.backgroundImage = `url('${imagenesFondo2[indexImagen]}')`;

        indexImagen = (indexImagen + 1) % imagenesFondo2.length;
    }

    cambiarFondo2(); // Cambia el fondo inicialmente

    setInterval(cambiarFondo2, 5000); // Cambia el fondo cada 5 segundos
	});

	document.querySelectorAll('.buttonContainer').forEach(function(container) {
		container.addEventListener('mouseenter', function() {
			container.parentElement.classList.add('hovered');
		});
		
		container.addEventListener('mouseleave', function() {
			container.parentElement.classList.remove('hovered');
		});
	});

		function actualizarReloj() {
		const ahora = new Date();
		const hoy = ahora.getDate();
		const diaActual = ahora.getDay(); // 0 = Domingo, 1 = Lunes, ..., 6 = Sábado

		// Configurar para los domingos a las 10:30 am (hora local de España Madrid)
		const proximoDomingo = () => {
			const fecha = new Date();
			fecha.setDate(hoy + (7 - diaActual) % 7); // Próximo domingo
			fecha.setHours(11, 30, 0, 0); // 10:30 am

			// Convertir las fechas a milisegundos y luego comparar
			return (fecha.getTime() - ahora.getTime()) < 0 ? new Date(fecha.setDate(fecha.getDate() + 7)) : fecha;
		};

		// Calcular el tiempo restante en segundos
		const tiempoRestante = Math.floor((proximoDomingo().getTime() - ahora.getTime()) / 1000);

		const dias = Math.floor(tiempoRestante / (24 * 3600)).toString();
		const horas = Math.floor((tiempoRestante % (24 * 3600)) / 3600).toString();
		const minutos = Math.floor((tiempoRestante % 3600) / 60).toString();
		const segundos = (tiempoRestante % 60).toString();

		// Actualizar los elementos en el DOM
		document.getElementById('dias').textContent = dias.length < 2 ? "0" + dias : dias;
		document.getElementById('horas').textContent = horas.length < 2 ? "0" + horas : horas;
		document.getElementById('minutos').textContent = minutos.length < 2 ? "0" + minutos : minutos;
		document.getElementById('segundos').textContent = segundos.length < 2 ? "0" + segundos : segundos;
	}
	///
	// java Portatil
	document.addEventListener("DOMContentLoaded", function () {
		const imagenesFondo_Portatil = [
			'./img/MCI.jpeg',
			'./img/MCI_Fondo.jpeg',
			// Agrega más rutas según sea necesario
			// Las "IMG" a agregar tiene que estar dentro de las Dimenciones que se toman en cuenta
		];

		let indexImagen = 0;
		const Fondo_Portatil_Element = document.querySelector('.Fondo_Portatil') as HTMLElement; //tipo typeScrip

		function cambiarFondo_Portatil() {
			Fondo_Portatil_Element.style.backgroundImage = `url('${imagenesFondo_Portatil[indexImagen]}')`;

			indexImagen = (indexImagen + 1) % imagenesFondo_Portatil.length;
		}

		cambiarFondo_Portatil(); // Cambia el fondo inicialmente

		setInterval(cambiarFondo_Portatil, 5000); // Cambia el fondo cada 5 segundos
		});
	setInterval(actualizarReloj, 1000);
	actualizarReloj();

	window.addEventListener('scroll', function() {
		var fadeElements = document.querySelectorAll('.fade-in');
		fadeElements.forEach(function(element) {
			var elementPosition = element.getBoundingClientRect().top;
			var screenPosition = window.innerHeight / 1.5;

			if (elementPosition < screenPosition && elementPosition > -element.clientHeight) {
			element.classList.add('visible');
			} else {
			element.classList.remove('visible');
			}
		});
	});





</script>
